.text-right {
  text-align: right;
}

.storeHeader {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 16px;

}

.headerLoja {
  background-color: #ffffff;
  cursor: pointer;
}

.deliveryHeader {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 12px;
  background-color: #ffffff;
  transition: background-color 0.2s ease;
}

.deliveryHeader:hover {
  background-color: #f7f7f7; 
}


/* Logo */
.storeLogo {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}

.storeLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Conteúdo */
.storeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.storeName {
  font-size: 17px;
  font-weight: 600;
  color: #1f2937;
}

/* Categoria + status */
.storeMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.storeCategoria {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  background-color: #f3f4f6;
  border-radius: 20px;
  font-size: 12px;
  color: #6b7280;
}

.storeStatus {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.storeStatus.open {
  border: 1px solid #2bb673;
  color: #2bb673;
  background-color: #f1fcf7;
}
.storeStatus.closed {
  border: 1px solid red;
  color: red;
  background-color: #fcefef;
}
/* Info extra */
.storeExtra {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.storeLocation {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #6b7280;
}



/* Seta */
.arrowIcon {
  color: #111827;
}

.deliveryIcon {
  color: #6b7280;
}

.deliveryLabel {
  color: #6b7280;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
.categoriesWrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px 16px;
  background-color: #ffffff;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.15);
}

/* Item */
.categoriaItem {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-size: 13px;
  font-weight: 500;
  color: #6b7280;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover */
.categoriaItem:hover {
  background-color: #e5e7eb;
}

/* ATIVO */
.categoriaItem.active,
.categoriaItem.active:hover {
  background-color: #2bb673;
  color: #ffffff;
}

/* Scroll invisível */
.categoriesWrapper::-webkit-scrollbar {
  display: none;
}
