name: Integracao contínua

on:
  push:
    branches: ['main', 'master', 'develop']
  pull_request:
    branches: ['main', 'master', 'develop']

jobs:
  tentar-fazer-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Instalar dependências
        run: npm install

      - name: Rodar build
        run: npm run build
